<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="name" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form">
      <form [formGroup]="form">
        <ng-template matStepLabel>Fill out your phone#</ng-template>
        <mat-form-field>
          <input matInput placeholder="Phone Number" formControlName="phone" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="form">
        <form [formGroup]="form">
          <ng-template matStepLabel>Fill out a comment</ng-template>
          <mat-form-field>
            <textarea matInput placeholder="comment" formControlName="comment" required></textarea>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button (click)="submitForm()">Submit</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<br />
<br />
<div>Name: {{ formName }}</div>
<div>Address: {{ formAddress }}</div>
<div>Phone: {{ formPhone }}</div>
<div>Comment: {{ formComment }}</div>
